<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<handlers>
				<remove name="WebDAV" />
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<modules>
				<remove name="WebDAVModule" />
			</modules>
			<aspNetCore processPath="dotnet" arguments=".\Meta.IntroApp.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
		</system.webServer>
	</location>
</configuration>
<!--ProjectGuid: b08acf54-6057-4176-91a9-38052ed40f24-->